body{
    text-align: center;
    margin: 0;
    font-family: cursive;
    

}
.container{
    max-width: 800px;
    margin: 50px auto;
    background-color: aliceblue;
    padding: 30px;
    box-shadow: 0 0 20px;
    border-radius: 100px;
}
input{
    height: 50px;
    width: 500px;
    padding: 10px;
    border-style: hidden;
    background-color: rgba(120, 162, 187, 0.096);

}
button:hover {
    width: 525px;
    height: 50px;
    background-color: rgba(120, 162, 187, 0.096);
    cursor: pointer;

}
hr{
    width: 500px;
}
img{
    width: 300px;
    border-radius: 300px;
    height:300px;
}
a{
    width: 100px;
    color: black;
}
h1{
    border: 5px solid black;

}
button{
    width: 525px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.336);
    cursor: pointer; 
}



